.container {
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center;
  align-items: center;
  height: 20vh; /* Adjust height as needed */
  margin-top: 10vh;
}

.search-box {
  width: 500px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  /* Removed margin-left, margin-top, and margin-bottom */
}

/* Adjusted styles for .Photoo to work with flexbox */
.Photoo {
  width: 750px;
  height: 700px;
  border-radius: 50%;
  /* Removed position, top, right, and transform properties */
}

/* Style for the image container */
.image-container {
  display: flex;
  justify-content: center; /* Center the images horizontally */
  align-items: center; /* Center the images vertically */
  /* Removed margin-top and margin-right */
}

/* Dark mode styles */
.dark-mode .some-component {
  background-color: #222;
  color: #ddd;
}
.search-image {
  width: 250px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Space between image and search box */
  border-radius: 20%;
}