/* Sidebar.css */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #FF5C00; /* Orange color */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    color: rgb(0, 0, 0);
    margin-top: 100px;
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px;
    background-color: #ffffff; /* A distinct background color */
    text-align: center; /* Center the text */
    cursor: pointer; /* Change cursor to indicate clickability */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
    transition: all 0.3s ease; /* Transition for hover effects */
}

h3:hover {
    background-color: #FF5C00; /* Darker shade on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
    transform: translateY(-2px); /* Slightly raise the element */
}

/* Style for the calendar */
.search-barr {
    width: 80%; /* Adjust the width as needed */
    padding: 10px 15px; /* Padding for a better look */
    margin-top: 20px; /* Space from the top element */
    border-radius: 10px; /* Rounded corners */
    border: 1px solid #ddd; /* Light border */
    outline: none; /* Remove the default outline */
    font-size: 16px; /* Font size */
    margin-top: 100px;
    margin-bottom: -30px;
}

.search-barr::placeholder {
    color: #999; /* Placeholder text color */
}